.sideMenu {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 100px 10px;
  font-size: 0.6rem;
  z-index: 9999;
}
.x {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.x svg {
  cursor: pointer;
}

.shopWrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 20px;
}
.shopWrap span {
  cursor: pointer;
}

.middle2 {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.middle2 span {
  cursor: pointer;
}
.news {
  padding-top: 15px;
}
.bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
}
.bottom input {
  height: 30px;
  border: none;
  border-bottom: 1px solid rgb(73, 73, 73);
}
.bottom input:focus {
  outline: none;
}
.bottom button {
  height: 37px;
  background-color: black;
  font-size: 0.8rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  border: none;
}
