.options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.9rem;
}
.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1px rgb(175, 175, 175) solid;
  font-weight: 700;
  text-align: center;
}
.selOption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1px rgb(36, 36, 36) solid;
  font-weight: 700;
  text-align: center;
}
